:root{
    --primary-color: rgb(70, 70, 255);
    --secondary-color: #6d76f7;
}

* {
   margin: 0;
   padding: 0;
}

.NavbarItems {
   position: relative;
   height: 60px;
   background-color: var(--primary-color);
   display: flex;
   justify-content: center;
   align-items: center;
   font-size: 1.2rem;
}

.nav-menu {
   display: flex;
   flex-direction: column;
   height: 200px;
   position: absolute;
   top: -200px;
   left: 0;
   opacity: 0;
   transition: all 0.5s ease;
}

.nav-menu>.nav-item {
   display: none;
}

.nav-menu-active {
   position: absolute;
   background: var(--primary-color);
   left: 0;
   opacity: 1;
   transition: all 0.5s ease;
   z-index: 1;
   top: 40px;
   height: 200px;
   width: 100vw;
   list-style-type: none;
   display: flex;
   flex-direction: column;
   justify-content: center;
   align-items: center;
}

.nav-link {
   color: #fff;
   padding: 0.5rem 1rem;
   text-decoration: none;
}

.nav-link.active {
   color: orange;
}


.nav-links:hover {
   background-color: var(--secondary-color);
   border-radius: 0;
}

.navbar-logo {
   position: absolute;
   top: 0;
   left: 0;
   transform: translate(25%, 50%);
}

.menu-icon {
   display: block;
   position: absolute;
   top: 0;
   right: 0;
   bottom: 90%;
   font-size: 1.8rem;
   cursor: pointer;
   transform: translate(-90%, 70%);
   color: #fff;
}

@media screen and (min-width: 960px) {
   .NavbarItems {
      height: 80px;
   }

   .navbar-logo {
      color: #fff;
      justify-self: start;
      margin-left: 20px;
      cursor: pointer;
   }

   .nav-item {
      text-decoration: none;
   }

   .nav-link:hover {
      background-color: var(--secondary-color);
      border-radius: 4px;
      transition: all 0.2s ease-out;
   }

   .menu-icon {
      transform: translate(-140%, 140%);
   }
}