.menuIcon {
    padding: 1rem;
    font-size: 1.5rem;
}

.menuIcon.dark {
    color: #FBFBFB;
}

.menuIcon.light {
    color: #212529;
}

#navbar {
    position: fixed;
    top: -0.7rem;
    right: 0;
}

.navLinks {
    background-color: inherit;
    width: 100vw;
    text-align: center;
    font-size: 1.2rem;
}

.navItem {
    list-style-type: none;
}

.navItem a {
    color: #2F86CC;
    text-decoration: none;
}

.navItem a:hover {
    text-decoration: underline;
}