.menuIcon {
    padding: 1rem;
    font-size: 1.5rem;
    color: #212529;
}

.navbar {
    position: fixed;
    top: -0.7rem;
    right: 0;
}

.navLinks {
    background-color: #2F86CC;
    width: 100vw;
    text-align: center;
    font-size: 1.2rem;
}

.navItem {
    list-style-type: none;
}

.navItem a {
    color: black;
    text-decoration: none;
}

.navItem a:hover {
    text-decoration: underline;
}

.navItem a:active {
    /* Add styles in here*/
}