#root {
    width: 100vw;
    background-color: #212529;
}

#heading-div {
    display: flex;
    justify-content: space-between;
    align-items: end;
    padding-bottom: 0.5rem;
}

.content-active {
    margin-top: 200px;
    transition: all 0.5s ease;
}

.content {
    transition: all 0.5s ease;
}

#about {
    display: flex;
    justify-content: space-between;
}

#avatar {
    transform: scaleX(-1);
    max-width: 50%;
    max-height: auto;
}

#contact, #my-resume {
    padding: 2rem 2rem 7rem 2rem;
    background-color: #212529;
    height: 100vh;
    color: white;
}

#my-portfolio {
    padding: 2rem 2rem 7rem 2rem;
    background-color: #212529;
    color: white;
}

#project-list {
    list-style: none;
    background-color: #212529;
    color: white;
}

.project-list-item {
    position: relative;
    display: inline-block;
}

.project-list-item:hover .project-info {
    display: block;
}

.project-info {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
    padding: 30px;
    text-align: center;
    display: none;
}

.project-img {
    max-width: 100%;
    max-height: auto;
    padding-bottom: 2rem;
    padding-right: 2rem;
}

form, button {
    width: 100%;
}

button{
    margin-top: 1rem;
}

footer {
    padding: 0;
}

#links {
    display: flex;
    justify-content: center;
    padding-bottom: 0.5rem;
}

.icon {
    padding-right: 1rem;
}
