:root{
    --accent-color: #2F86CC;
}

#root {
    font-family: 'Raleway', sans-serif;
}

.app.dark {
    background-color: #212529;
    color: #FBFBFB;
}

.app.light {
    background-color: #FBFBFB;
    color: #212529;
}

#themebutton{
    margin-top: 5rem;
}
/* -------------------- Multiple Pages -------------------- */

.accent {
    color: var(--accent-color);
    font-weight: 700;
}

#about,
#contact,
#resume,
#portfolio {
    margin-top: 5rem;
    /* color: black; */
}

#home {
    padding: 0 2rem;
}

.github {
    color: #6e5494;
}


button {
    background-color: var(--accent-color);
    border: none;
    width: 8rem;
    height: 3rem;
    margin: 0 auto;
    color: #FBFBFB;
}

/* -------------------- Header -------------------- */

header {
    width: 100vw;
    height: 4rem;
    transition: all 0.5s ease;
    position: fixed;
    z-index: 100;
}

.header.dark {
    color: #FBFBFB;
}

.header.light {
    color: #212529;
}

/* -------------------- About Me page -------------------- */

#about {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.hero {
    flex: 2;
    display: flex;
    /* Take up 2/3 of the available space */
}

.info {
    flex: 1;
    /* Take up 1/3 of the hero div */
    display: flex;
    flex-direction: column;
    align-items: start;
    margin: 2rem;
    transition: transform 0.3s ease-in-out;
}

.info:hover {
    transform: translateX(0);
}

#links {
    display: flex;
    flex-direction: column;
    gap: 1.8rem;
    margin-left: 2rem;
}

.icons {
    font-size: 2.5rem;
    opacity: 1;
}

.icons:hover {
    opacity: 0.7;
}

.avatar-image-div {
    flex: 1;
    width: 100%;
    overflow: hidden;
    display: flex;
    justify-content: center;
}

#avatar {
    width: 40%;
    height: auto;
    object-fit: cover;
}

#contact-button {
    background-color: var(--accent-color);
    padding: .5rem 1.5em;
    color: #FBFBFB;
    text-decoration: none;
}

/* -------------------- Portfolio page -------------------- */

#project-list {
    list-style: none;
}

.project-list-item {
    position: relative;
    display: inline-block;
}

.project-list-item p {
    margin-top: 1rem;
}

.project-info {
    align-self: center;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.title {
    display: flex;
    align-items: flex-end;
    gap: 1rem;
}

.title h4 {
    margin-bottom: 0;
}

.project-img {
    border-radius: 10px;
    transform: perspective(800px) rotateY(25deg) scale(.8) rotateX(10deg);
    transition: transform 0.3s ease-in-out;
    max-width: 100%;
    max-height: auto;
    box-shadow: 0 19px 67px -38px rgba(232, 231, 231, 0.7);
}

.project-img:first-child{
    margin-top: 5rem;
}

.project-img:hover{
    transform: perspective(800px) rotateY(-15deg) translateY(-50px) rotateX(10deg) scale(.9);
    box-shadow: none;
}

.project-button a, #resume-button a {
    text-decoration: none;
    color: #FBFBFB;
}

/* -------------------- Resume page -------------------- */

#resume-button{
    width: 12rem;
    height: 3rem;
    display: block;
    margin: 0 auto;
}

/* -------------------- Contact Me page -------------------- */

#contact {
    padding-bottom: 3rem;
}

#hero2 {
    margin-top: 2rem;
    display: grid;
    grid-template-columns: 1fr 25%;
}

/* changing the label text colour depending on theme */
.form-item.dark .ant-form-item-required {
    color: #FBFBFB;
    font-family: 'Raleway', sans-serif;
    font-size: 1rem;
}

.form-item.light .ant-form-item-required {
    color: #212529;
    font-family: 'Raleway', sans-serif;
    font-size: 1rem;
}

input,
textarea {
    border-radius: 0 !important;
    font-size: 1.5rem !important;
}

/* removing the base Ant Design styles for input and textarea elements in forms on hover and on focus */
input:hover,
input:focus,
textarea:hover,
textarea:focus {
    background-color: white !important;
}

#contact-btn {
    font-family: 'Raleway', sans-serif;
    font-size: 1rem;
}

#image-container {
    position: relative;
}

#avatar2 {
    max-width: 100%;
    transform: scalex(-1);
    position: absolute;
    top: -5rem;
    right: 3rem;
}

/* -------------------- Screens bigger than 960px -------------------- */

@media screen and (min-width: 960px) {
    .project-list-item {
        display: flex;
    }

    #skills {
        display: flex;
        justify-content: space-between;
        margin-top: 3rem;
    }

    .project-img {
        max-width: 55%;
    }
}