:root{
    --accent-color: #2F86CC;
}

#root {
    /* width: 100vw; */
    background-color: #212529;
    font-family: 'Raleway', sans-serif;
}

/* -------------------- Multiple Pages -------------------- */

.accent {
    color: var(--accent-color);
    font-weight: 700;
}

#about-section,
#contact,
#my-resume {
    /* padding: 7rem 2rem 7rem 2rem; */
    background-color: #212529;
    /* height: 100vh; */
    color: white;
}

.home {
    padding-top: 7rem;
    padding-left: 2rem;
    padding-right: 2rem;
}


button {
    background-color: var(--accent-color);
    border: none;
}

/* -------------------- Header -------------------- */

header {
    background-color: #2F86CC;
    width: 100vw;
    height: 4rem;
    transition: all 0.5s ease;
    position: fixed;
    z-index: 100;
}


/* -------------------- About Me page -------------------- */

#about {
    margin-top: 7rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.hero {
    flex: 2;
    display: flex;
    /* Take up 2/3 of the available space */
}

.info {
    flex: 1;
    /* Take up 1/3 of the hero div */
    display: flex;
    flex-direction: column;
    align-items: start;
    padding: 2rem;
    transition: transform 0.3s ease-in-out;
}

.info:hover {
    transform: translateX(0);
}

#links {
    display: flex;
    flex-direction: column;
    gap: 1.8rem;
    margin-left: 2rem;
}

.icons {
    font-size: 1.8rem;
    color: white;
    opacity: 0.7;
}

.icons:hover {
    opacity: 1;
}

.avatar-image-div {
    flex: 1;
    width: 100%;
    overflow: hidden;
    display: flex;
    justify-content: center;
}

#avatar {
    width: 200%;
    height: auto;
    object-fit: cover;
}

.contact-btn {
    background-color: var(--accent-color);
    border-color: var(--accent-color);
    width: 15%;
}

.contact-btn:hover {
    color: black !important;
}

/* -------------------- Portfolio page -------------------- */

#my-portfolio {
    /* padding-left: 2rem;
    padding-right: 2rem; */
    background-color: #212529;
    color: white;
}

#project-list {
    list-style: none;
    background-color: #212529;
    color: white;
}

.project-list-item {
    position: relative;
    display: inline-block;
}

.project-list-item p {
    padding-top: 1rem;
}

.project-info {
    align-self: center;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.title {
    display: flex;
    align-items: flex-end;
    gap: 1rem;
}

.title h4 {
    margin-bottom: 0;
}

.project-img {
    border-radius: 10px;
    transform: perspective(800px) rotateY(25deg) scale(.8) rotateX(10deg);
    transition: transform 0.3s ease-in-out;
    max-width: 100%;
    max-height: auto;
    margin-bottom: 10rem;
    margin-right: 5rem;
    box-shadow: 0 19px 67px -38px rgba(232, 231, 231, 0.7);
}

.project-img:first-child{
    margin-top: 5rem;
}

.project-img:hover{
    transform: perspective(800px) rotateY(-15deg) translateY(-50px) rotateX(10deg) scale(.9);
    box-shadow: none;
}

.project-button {
    border-radius: 10px;
    width: 8rem;
    height: 3rem;
    margin: 0 auto;
}

.project-button a, #resume-button a {
    text-decoration: none;
    color: black;
}

/* -------------------- Contact Me page -------------------- */

form, button {
    width: 100%;
}

label {
    padding-top: 0.5rem;
}

form button{
    margin-top: 1rem;
    height: 3rem;
    border-radius: 10px;
}

/* -------------------- Resume page -------------------- */

#resume-button{
    border-radius: 10px;
    width: 12rem;
    height: 3rem;
    display: block;
    margin: 0 auto;
}

/* -------------------- Scrrens bigger than 960px -------------------- */

@media screen and (min-width: 960px) {
    .project-list-item {
        display: flex;
    }

    #skills {
        display: flex;
        justify-content: space-between;
        padding-top: 3rem;
    }

    .project-img {
        max-width: 55%;
    }
}